[Unit]
Description=Tomcat 9 servlet container
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

ReadWritePaths={{ content_root }}

Environment="CONTENT_ROOT=-Dtds.content.root.path={{ content_root}}"
Environment="JAVA_HOME=/usr/lib/jvm/jre"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom -Djava.awt.headless=true -Dtds.content.root.path={{ content_root }} -Djava.util.prefs.systemRoot=/opt/tomcat/latest/content/thredds/javaUtilPrefs -Djava.util.prefs.userRoot=/opt/tomcat/latest/content/thredds/javaUtilPrefs"

Environment="CATALINA_BASE=/opt/tomcat/latest"
Environment="CATALINA_HOME=/opt/tomcat/latest"
Environment="CATALINA_PID=/opt/tomcat/latest/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx4096M -server -XX:+UseParallelGC"

ExecStart=/opt/tomcat/latest/bin/startup.sh
ExecStop=/opt/tomcat/latest/bin/shutdown.sh

[Install]
WantedBy=multi-user.target